{%- from 'includes/slugify.jinja' import slugify -%}
{%- set project_name_snake_case = slugify(project_name) -%}
{%- set docker_compose = {
  "version": "3.8",
  "services": {
    "app": {
      "user": "vscode",
      "build": {
        "context": "..",
        "dockerfile": ".devcontainer/Dockerfile",
        "args": {
          "VARIANT": python_version ~ "-bookworm"
        }
      },
      "volumes": [
        "../:/workspace:cached",
        project_name_snake_case ~ "_extensions:/home/vscode/.vscode-server/extensions",
        project_name_snake_case ~ "_commandhistory:/home/vscode/commandhistory",
        project_name_snake_case ~ "_cache:/home/vscode/.cache",
        "/workspace/.venv"
      ],
      "command": "sleep infinity"
    }
  },
  "volumes": {
    (project_name_snake_case ~ "_extensions"): None,
    (project_name_snake_case ~ "_commandhistory"): None,
    (project_name_snake_case ~ "_cache"): None
  }
} -%}
{{ docker_compose | to_nice_yaml(indent=2) }}