{%- set docker_compose = {
  "version": "3.8",
  "services": {
    "app": {
      "user": "vscode",
      "build": {
        "context": "..",
        "dockerfile": ".devcontainer/Dockerfile",
        "args": {
          "VARIANT": "{{ python_version }}-bookworm"
        }
      },
      "volumes": [
        "../:/workspace:cached",
        package_name ~ "_extensions:/home/vscode/.vscode-server/extensions",
        package_name ~ "_commandhistory:/home/vscode/commandhistory",
        package_name ~ "_cache:/home/vscode/.cache",
        "/workspace/.venv"
      ],
      "command": "sleep infinity"
    }
  },
  "volumes": {
    (package_name ~ "_extensions"): None,
    (package_name ~ "_commandhistory"): None,
    (package_name ~ "_cache"): None
  }
} -%}
{{ docker_compose | to_nice_yaml(indent=2) }}