services:
  app:
    build:
      args:
        VARIANT: 3.13-bookworm
      context: ..
      dockerfile: .devcontainer/Dockerfile
    command: sleep infinity
    user: vscode
    volumes:
    - ../:/workspace:cached
    - python_template_extensions:/home/vscode/.vscode-server/extensions
    - python_template_commandhistory:/home/vscode/commandhistory
    - python_template_cache:/home/vscode/.cache
    - /workspace/.venv
version: '3.8'
volumes:
  python_template_cache: null
  python_template_commandhistory: null
  python_template_extensions: null
